*{
    font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

::selection {
    color: #665213;
    background-color: #f2e4b9;
}

pre{
    background-color: #000000;
    color:#000000;
    /* padding: 100px 70px 70px; */
    border-radius: 10px;
}

code{
    background-color: #000000;
    color: #ffffff;
}
/* elements */

nav {
    display: flex;
    position : sticky;
    top:0;
    background-color: black;
    width: 100%;
    color: #ffffff;
    align-items: center;
}

body{
    overflow-x: hidden;
}

.footer-link{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
    padding-top: 13px;
    color: #fff;
    text-align: center;
    margin-right: 8px;
}

.footer-container{
    height: 300px;
    background-color: #4a4a4a;
    color:#ffffff;
    padding-top: 5px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    /* background: radial-gradient(ellipse farthest-corner at 100% 150%,#000 20%,transparent 60%); */
}

.footer-content{
    display: flex;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 63px;
    padding-right: 63px;
    justify-content: space-between;
}

.footer-left{
    padding: 12px 12px;
    width: fit-content;
}

.footer-right{
    margin-top: 70px;
    text-align: end;
}


.navbar-item{
    display: flex;
    height: 60px;
    text-align:center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #3273dc;
    transition-duration: color 4s;
}

a:hover{
    color: #000;
}


.navbar-menu{
    padding-left: 135px;
}

nav ol li:hover{
    background-color: #555;
    /* height: 4px; */
    /* width: 60%; */
    /* left: 20%; */
    border-bottom: 4px solid #e7cd79;
    border-bottom-width: 60%;
    /* background: #e7cd79; */
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

ol li {
    float: left;
    padding: 5px 5px;
    cursor: pointer;
}

ol{
    list-style-type: none;
    /* margin: 5px 5px; */
}

ul {
    list-style: none;
}

ul a::before{
    content: "#";
    color: #dab437;
    padding-right: 5px;
}

ul a {
    text-decoration:none;
    color:#000000;
}

ul a:hover{
    color: #dab437;
}


aside{
    /* width: 30%; */
    height: 100vw;
}


pre{
    background-color: rgba(34, 32, 32, 0.411);
    display: flex;
    width: fit-content;
}

section{
    width: 78%;
    padding-left: 160px;
}

/* id  */
/* .footer-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse farthest-corner at 100% 150%,#000 20%,transparent 60%);
} */

#pull-right{
    background-color: #000000;
    display: flex;
    padding: 2px 2px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3px;
    margin-right: 10px;
}

#nav-search{
    background-color: #333;
    width: 300px;
    border: none;
    outline: none;
    padding: 12px 20px;
    color: #ffffff;
}

#container{
    display: flex;
}

#nav-search:focus {
    background-color:  black;
}

#side-banner-img{
    position: fixed;
    bottom: 0;
    padding-right: 20px;
}

#toc{
    background-color: #ffffff;
    padding: 50px 50px;
    margin: 50px -50px;
    border-radius: 5px;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
}

#announcement{
    display: flex;
    height: 48px;
    background-color:#3273dc;
    color:white;
    align-content: center;
    justify-content: center;
}

#announcement div{
    width: 40%;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-evenly;
    background-color: #41b883;
}
#announcement div:hover{
    background-color:#3273dc;
}

#banner {
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    margin-top: 10%;
}

#heading{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

#code-button {
    border: none;
    background-color: #bd2130;
    margin-top:50px;
    margin-bottom:50px;
    color: #ffffff;
    width: 225px;
    border-radius: 290486px;
    padding: 15px 20px;
    font-size:20px;
    cursor: pointer;
}

#nav-login{
    width: 70px;
    background-color: black;
    border: 3px;
    border-color: black;
    color: white;
    padding: 14px;
    margin:2px 2px;
    cursor: pointer; 
}

#nav-signup{
    border:none;
    background-color: red;
    color:white;
    padding: 10px 20px;
    margin: 2px 2px;
    text-decoration: solid;
    cursor: pointer;
}
/* classes */

.center{
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #0e0e0e;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content p {
    padding: 10px 10px;
}

.dropdown-content p:hover{
    background-color: #000000;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item-group{
    height: 30px;
    width: 100vw;
    padding: 10px 10px;
    display: flex;
    align-items: right;
    justify-items: right;
}

.nav-item-group a{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}


.article-content{
    font-size: 1.25rem;
}


/* .scotch-logo__liquid {
    position: absolute;
    width: 52px;
    top: 0;
    z-index: 1;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
} */

.blob{
    opacity: 0.2;
    position: absolute;
    top: -60%;
    left:-150px;
    z-index: -1;
}

#side-toc{
    color: #555;
    font-size: 12px;
    position: fixed;
    left: 0;
    display: flex;
    justify-items: auto;
    z-index: 2;
    top: 50%;   
}


#side-toc li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

#side-toc:hover li a:hover{
    color: #000000;
    visibility: visible;
    font-weight: 700;
}

.is-selected{
    color: #000000;
    visibility: visible;
    font-weight: 700;
}

#side-toc li a{
    margin-left: 30px;
    visibility: hidden;
}



#side-toc li a::before{
    content: "";
}

#side-toc:hover li a{
    
    margin-left: 40px;
    visibility: visible;
    color: #555555;
}

#side-toc:hover li span{
    width: 40px;
    visibility: visible;
}


.line{
    display: flex;
    position: absolute;
    background:#555;
    height: 3px;
    width: 15px;
    /* fill: #000000; */
}
