*{
    font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

::selection {
    color: #665213;
    background-color: #f2e4b9;
}

pre{
    background-color: #000000;
    color:#000000;
    /* padding: 100px 70px 70px; */
    border-radius: 10px;
}

code{
    background-color: #000000;
    color: #ffffff;
}
/* elements */

nav {
    display: flex;
    position : sticky;
    top:0;
    background-color: black;
    height: 60px;
    color: #ffffff;
    padding: 2px 2px;
    text-align: center;
    justify-items:center;
    align-items: center;
}   

ol li {
    float: left;
    padding: 5px 5px;
    cursor: pointer;
}

ol{
    list-style-type: none;
    margin: 5px 5px;
}

ul {
    list-style: none;
}

ul a::before{
    content: "#";
    color: #dab437;
    padding-right: 5px;
}

ul a {
    text-decoration:none;
    color:#000000;
}

ul a:hover{
    color: #dab437;
}


aside{
    width: 30%;
    height: 100vw;
}


pre{
    background-color: rgba(34, 32, 32, 0.411);
    display: flex;
    width: fit-content;
}

section{
    width: 78%;
    padding-left: 160px;
}

/* id  */


#pull-right{
    background-color: #000000;
    justify-content: space-between;
    display: flex;
    padding: 2px 2px;
    justify-items: center;
    position: fixed;
    right: 0;
    margin-right: 10px;
}

#nav-search{
    background-color: #333;
    width: 300px;
    border: none;
    outline: none;
    padding: 12px 20px;
    color: #ffffff;
}

#container{
    display: flex;
}

#nav-search:focus {
    background-color:  black;
}

#side-banner-img{
    position: fixed;
    bottom: 0;
    padding-right: 20px;
}

#toc{
    background-color: #ffffff;
    padding: 50px 50px;
    margin: 50px -50px;
    border-radius: 5px;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
}

#announcement{
    display: flex;
    height: 48px;
    background-color:#3273dc;
    color:white;
    align-content: center;
    justify-content: center;
}

#announcement div{
    width: 40%;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-evenly;
    background-color: #41b883;
}
#announcement div:hover{
    background-color:#3273dc;
}

#banner {
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    margin-top: 10%;
}

#heading{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

#code-button {
    border: none;
    background-color: #bd2130;
    margin-top:50px;
    margin-bottom:50px;
    color: #ffffff;
    width: 225px;
    border-radius: 290486px;
    padding: 15px 20px;
    font-size:20px;
    cursor: pointer;
}

#nav-login{
    width: 70px;
    background-color: black;
    border: 3px;
    border-color: black;
    color: white;
    padding: 14px;
    margin:2px 2px;
    cursor: pointer; 
}

#nav-signup{
    border:none;
    background-color: red;
    color:white;
    padding: 10px 20px;
    margin: 2px 2px;
    text-decoration: solid;
    cursor: pointer;
}
/* classes */

.center{
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #0e0e0e;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content p {
    padding: 10px 10px;
}

.dropdown-content p:hover {
    background-color: #000000;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.article-content{
    font-size: 1.25rem;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    opacity: 0.2;
    position: absolute;
    top: -60%;
    left:-150px;
    z-index: -1;
}

#side-toc{
    position: fixed;
    left: 0;
    display: flex;
    justify-items: auto;
    z-index: 1;
    top: 50%;
}


#side-toc li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

#side-toc:hover li a:hover{
    color: #000000;
    visibility: visible;
}

#side-toc li a{
    margin-left: 30px;
    visibility: hidden;
}



#side-toc li a::before{
    content: "";
}

#side-toc:hover li a{
    margin-left: 40px;
    visibility: visible;
    color: #b64444;
}

#side-toc:hover li span{
    width: 40px;
    visibility: visible;
}


.line{
    display: flex;
    position: absolute;
    background:#555;
    height: 3px;
    width: 15px;
    /* fill: #000000; */
}
