@import "variables.scss";

.input-container {
	position: relative;
	display: flex;
	margin: 2px;
	width: 100%;
	flex-direction: column;
	label {
		margin-bottom: 5px;
		font-weight: bold;
	}

	input {
		padding: 5px 20px;
		margin-right: 2px;
		outline: none;
		padding-left: 4px;
		font-size: 1rem;
		border: 1px solid #ddd;
		border-radius: 3px;
		font-size: $medium-font;
		word-wrap: break-word;

		&:focus {
			border: 1px solid $accent-color;
		}

		@media screen and (max-width: 358px) {
			font-size: $small-font;
		}
	}

	input[type="button"] {
		font-size: $small-font;
		background-color: #f2dedf;
		color: #9b5565;
	}
	&.success {
		input[type="button"] {
			color: #4d764f;
			background-color: #def0d8;
		}
	}
}
