@import "variables.scss";

.outline-btn {
	background-color: transparent;
	padding: 5px 10px;
	border: 1px solid var(--accent-color);
	color: var(--color);
	border-radius: 5px;
	font-size: $small-font;
	cursor: pointer;
	&:hover {
		background-color: var(--accent-color);
		color: white;
	}
}
