$accent-color: #FA8334;
$primary-color: #B1FFD0;
$secondary-color: #2660A4;
$bus-color:#68A5FF;

$pale-color-1: #5C573E;
$pale-color-2: #95B8D1;

$small-font: 0.9em;
$medium-font: 1.5em;
$large-font: 2em;