.bus-container {
	border: 1px solid #ddd;
	margin-top: 20px;

	// & > .bus-content {
	// 	& > .bus-content-top {
	// 		display: flex;

	// 		& > .bus-details {
	// 			&.top {
	// 				margin-bottom: 10px;
	// 			}
	// 		}
	// 	}
	// }
	// & > .seat-container {
	// 	display: flex;
	// 	flex-direction: row;
	// 	& > .bus-options {
	// 		display: flex;
	// 		flex-direction: row;

	// 		& > div {
	// 			padding: 0px 10px;
	// 		}
	// 	}
	// }
	& > .bus-content {
		& > .bus-content-top {
			display: flex;
			padding: 10px 15px;
			justify-content: space-between;

			& > .bus-details {
				text-align: left;
			}
			& .bus-details.bottom {
				margin-top: 16px;
			}
		}
	}

	& > .seat-container {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
		position: relative;
		& > .bus-options {
			display: flex;
			opacity: 0;
			align-items: center;
			padding-bottom: 5px;
			transition: all 1s;
			& > div {
				padding: 0px 10px;
				border-right: 1px solid var(--red-color);
				cursor: pointer;

				&:hover {
					color: var(--red-color);
				}
			}
			& > :last-child {
				border-right: none;
			}
		}
		& > .seats-btn {
			background-color: var(--red-color);
			color: white;
			cursor: pointer;
			border: 0;
			border-radius: 0;
			font-family: Montserrat;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 400;
			padding: 10px 15px;

			&:hover {
				background-color: #e9555d !important;
			}
		}
	}
	& > .dropdown-content {
		margin-top: 10px;
		padding: 10px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #eeeded;

		& > .dropdown-announcement {
			background-color: #e9555d;
			color: white;
			width: fit-content;
			font-weight: 700;
			font-size: 12px;
			margin-left: 30px;
			padding: 5px 10px;
		}
	}

	&:hover {
		box-shadow: 0 16px 30px 1px rgba(0, 0, 0, 0.1);
		transition: 1s;

		& .seat-container > .bus-options {
			opacity: 1;
		}
	}
}
