@import "variables.scss";

.filter-container{

	padding: 10px 10px;
	text-align: left;

	& .filter-container-title{
		margin-bottom: 30px;
		font-size: 20px;
		margin-top: 20px;
		font-weight: 700;

		font-family: Montserrat;
	}
	& .filter-criteria{
		text-align: left;
		margin: 10px 0px;
		padding: 3px;
		border-radius: 3px;
		width: fit-content;
		background-color: #eee;
	}
	&> .filter-title{
		font-size: 16px;
		margin: 10px 0px;
		font-weight: 700;
	}

	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	& > .filter-search{
		color: black;
	}

	&> .checkbox-container{
		&> li{
			padding: 5px 0px;

		}
	}
}