.mobile-title-container {
	color: white;
	background-color: var(--red-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 3px;
	font-weight: 700;
	position: sticky;
	top: 0;
	z-index: 9999;

	& > .back-btn {
		margin-top: 5px;

		& img{
			transform: rotate(180deg);
		}
	}

	& > .title-content {
		width: fit-content;
		word-wrap: break-word;
	}

	& > .mobile-date-container {
		display: flex;
		align-items: center;
		min-width: 100px;
	}

	.arrow-icon {
		width: 18px;
		filter: invert(1);

		&.btn:hover {
			cursor: pointer;
		}
	}
}
