
.mobile-title-container{
    color: white;
    background-color: var(--red-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 3px;
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 9999;
    
    &>.title-content{
        width: fit-content;
        word-wrap: break-word;
    }

    &>.mobile-date-container{
        display: flex;
        align-items: center;
        min-width: 100px;
    }

    .arrow-icon {
        width: 18px;
        filter: invert(1);

        &.btn:hover{
            cursor: pointer;
        }
    }
}