.mobile-main-content{
    font-size: 12px;

    &>.offers-container{
        padding: 10px;
        display: flex;
        background-color: #eee;
        overflow-x: scroll;
        &>.offer-card{
            margin: 10px;
            &>img{
                width: 200px;
            }
        }
    }

    &>.announcement{
        padding: 0.65em 1.35em;
        border-bottom: solid 1px #e3e3e3;
    }
}