.mb-passenger-details-container {
	min-height: 100vh;
	background-color: #ddd;
	width: 100%;

	.back-btn {
		padding: 0px 10px;
	}

	.mb-passenger-heading {
		font-size: 13px;
		color: #6b6a6a;
		text-align: left;
		padding-bottom: 20px;
	}
	.mb-passenger-content {
		label {
			width: 100%;
			padding: 5px 0px;
			font-size: 13px;
			text-align: left;
			display: flex;
		}
	}
	.mb-send-updates-container {
		display: flex;
		text-align: left;
		align-items: center;
		padding-top: 10px;
		& > .update-info {
			font-size: 13px;
			width: 90%;
		}
		.switch {
			position: relative;
			display: inline-block;
			width: 40px;
			height: 10px;

			/* Hide default HTML checkbox */
			input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			/* The slider */
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: 0.4s;
				transition: 0.4s;

				&:before {
					position: absolute;
					content: "";
					height: 13px;
					width: 13px;
					left: 2px;
					top: 3px;
					background-color: white;
					-webkit-transition: 0.4s;
					transition: 0.4s;
				}
				/* Rounded sliders */
				&.round {
					border-radius: 17px;

					&:before {
						border-radius: 50%;
					}
				}
			}
			input:checked + .slider {
				background-color: #2196f3;
			}
			input:focus + .slider {
				box-shadow: 0 0 1px #2196f3;
			}
			input:checked + .slider:before {
				-webkit-transform: translateX(20px);
				-ms-transform: translateX(20px);
				transform: translateX(20px);
			}
		}
	}
	.switch-two-values {
        width: fit-content;
        display: inline-block;

        /* Hide default HTML checkbox */
        border-radius: 3px;
        border: 1px solid #2196f3;
        padding: 1px;
		& >button {
            padding: 10px 15px;
            font-family: Montserrat;
            border: 0;
            color: #2196f3;
            background-color: white;

			&.selected {
                background-color: #2196f3;
                color: white;
			}   
        }
        @media screen and (max-width:400px){
            display: block;
            & > button {
                width: 100%;
            }
        }
	}

	
}
