.mb-bus-seats-container {
	width: 100%;

	.mb-title-close {
		padding: 10px;
	}

	& > .mb-seat-result-container {
		position: fixed;
		width: 100%;
		font-size: 1em;
		bottom: 0;
		background-color: White;
		// color: white;
		z-index: 9999;

		& > .mb-selected-seats {
			width: 90%;
			padding: 20px 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		& > .mb-seat-result-options {
			width: 100%;
			background-color: var(--red-color);
			color: white;
			border: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 15px;
			padding: 14px 5px;
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;

			& > img {
				width: 20px;
				margin-left: 5px;
				color: white;
				filter: invert(1);
			}
		}
	}
}

.mb-footer {
	position: fixed;
	width: 100%;
	font-size: 1em;
	bottom: 0;
	background-color: White;
	// color: white;
	z-index: 9999;

	@media screen and (min-width:500px){
		position: absolute;
		cursor: pointer;
	}
}

.boarding-footer {
	padding: 10px;
	width: 100%;
	background-color: var(--red-color);
	color: white;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding: 14px 5px;
}
