.order-fragment-container {
	background-color: white;
	text-align: left;
	padding: 10px;
    font-weight: 500;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    border-radius: 3px;

	& > .heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		& > h4 {
            font-size: 32px;
            margin: 0;
		}
	}

	& > .segment {
		display: flex;
		align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        border-top: 1px dashed #000;
	}

	& .order-fragment-heading {
		text-decoration: underline;
		font-weight: 700;
	}

	label {
		font-weight: 700;
        font-size: 14px;
        color: var(--red-color);
	}

	.arrow-icon {
		width: 18px;
        padding: 0px 10px;
		&.btn:hover {
			cursor: pointer;
		}
    }
    .flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-sb{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
