.ticket-container {
	margin: 20px 10px 10px;
	display: flex;
	& > .main-content {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
		& > .offers-container {
			display: flex;

			.offer-card {
				padding: 12px 12px 20px 0px;
				cursor: pointer;
				& > img {
					width: 183px;
					height: 120px;
					border-radius: 7px;
				}
			}
		}

		.set-filters {
			height: 50px;
			width: 100%;
			text-align: left;
			font-weight: 700;
			& > span {
				color: #3e3e52;
				font-weight: 700;
				padding: 8px 28px 8px 10px;
				cursor: pointer;
				display: flex;
				width: fit-content;
				justify-content: space-between;
				align-items: center;
				margin: 5px 0;
				margin-right: 10px;
				border-radius: 3px;
				background-color: #f8f4f4;
				&:hover {
					background-color: #c2c2c2;
				}
			}
		}

		.divider {
			width: 100%;
			margin: 10px 0px 24px;
			border: 0.8px solid rgb(221, 221, 221);
		}

		.results-title-container {
			display: flex;
			width: 100%;
			& > .result-title-heading {
				display: flex;
				justify-content: space-between;
				width: 30%;
			}
			& > .sort-titles {
				width: 80%;
				display: flex;
				padding-left: 20px;
				justify-content: space-evenly;

				& > span {
					cursor: pointer;
				}
			}
		}
		& > .search-result-heading {
			margin: 20px 0px;
		}

		& > .search-result {
			width: 100%;
		}
	}

	.close {
		width: 15px;
		padding-left: 15px;
		cursor: pointer;
	}
}

.f-bold {
	font-weight: 700;
}
