.title-container {
	display: flex;
	border-bottom: 1px solid #ddd;
	padding: 15px 10px 15px 25px;
	align-items: center;

	& .arrow-icon {
		width: 14px;
		padding: 0px 15px;

		&.btn {
			cursor: pointer;
		}
	}

	.location-container {
		font-weight: 700;
		font-size: 16px;
		margin: 5px;
	}

	.date-container {
		font-weight: 700;
		font-size: 16px;
		margin: 0px 10px;

		&>.date-content{
			position: relative;
			&>.day-container {
			font-size: 12px;
			position: absolute;
			width: 56px;
			top: 18px;
			right: -4px;
		}
		}

		
	}

	& > button {
		border: 1px solid #3e3e52;
		border-radius: 3px;
		background-color: #f8f4f4;
		padding: 5px 25px;
		display: inline-block;
		font-weight: 400;
		font-size: 14px;
		margin-left: 24px;
		cursor: pointer;
		font-family: Montserrat;

		&:hover {
			font-weight: 700;
			border: 1px solid #000000;
		}
	}
}
