*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-content{
  background:#f2f2f2;
}



.banner-container{
    /* padding:20px; */
    overflow: hidden;
}

.banner-img-container img{
  border-radius: 10px;
  /* margin-right: 5px; */
}

.banner-img-container{
  margin: 0;
  max-width: 770px; 
}

.main-content{
  max-width: 1240px;
  margin:0 auto;
  padding:25px 20px;
  display: flex;
}

.main-content-left{
  width: 270px;
}

.main-content-left .heading{
  font-size: 18px;
  font-weight: 400;
}

.main-content-right{
  text-align: left;
  margin-left: 10px;
  right: 10px;
}






