/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

.gallery{
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(285px,1fr)); */
    min-height: 100vh;
    width: 100%;
    padding:20px;
    /* background-color: #000; */
}

.slider-back{
    max-height: 400px;
}

.slick-prev:before,
.slick-next:before {
  color: gray!important;
}