
@import "variables.scss";

.search-result {
    display: flex;
    background-color: $secondary-color;
    color:white;
    border: 1px solid #DDD;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &:hover{
        color: $secondary-color;
        background-color:white;
        button{
            background-color: $secondary-color;
            color:white;
        }
    }
    button{
        // margin: 20px;
        padding: 10px 15px;
        text-align: center;
        border: none;
        color: $secondary-color;
        background-color:white;
        transition: transform .2s;
        cursor: pointer;
        &:hover{
            transform: scale(1.25);
        }
    }
}
