*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.content-container{
    max-width: 1152px;
    margin: 0 auto;
}

.banner-container{
    background-color: white;
    color:black;
}

.image{
    background-image: url(https://via.placeholder.com/1152x450/0066CC);
    width: 1152px;
    height: 450px;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.image img{
    /* width: 1152px; */
    height: 450px;
}

.image-details{
    text-align: left;
    padding: 16px;
    color:#222222;
    line-height: 28px;
}

.image-details-heading{
    display: flex;
    border-bottom: 1px solid #DDDDDD;
    justify-content: space-between;
    align-items: center;
}

.image-details-left{
    
}

.image-details-left .heading{
    margin-bottom: 8px;
    padding-bottom: 16px;
}   

.image-details-left .heading h1{
    font-size: 24px;
}

.image-details-left .sub-heading{
    font-size: 16px;
}

.page-details{
    padding: 24px 0px;
    display: flex;
}


.page-details-right{
    text-align: left;
    background-color: white;
    padding: 20px;
}

.page-info{
    background-color:#FFF9E3;
    padding: 16px;
    margin: 0px 0px 16px;

}

.show-description p{
    padding: 5px 0px;
}

.display-accord{
    margin-top: 100px;
}

.pay-button{
    color:#ffffff;
    background-color: #187df1dc;
    padding: 10px 40px;
    font-size:1em;
    cursor: pointer;
    border:none;
    border: 2px solid #ffffff;
}

.pay-button:hover{
    background-color: white;
    color:#187df1dc;
    border: 2px solid #187df1dc;
}