

.gallery{
    width: 1000px;
    margin-bottom: 30px;
    /* background-color: #000; */
}

.gallery .heading{
  margin-left: 3px;
  font-size: 18px;
}



.slick-prev:before,
.slick-next:before {
  color: gray!important;
}