// @import-normalize;
@import "./css/variables.scss";

.App {
	text-align: center;
	min-height: 100vh;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
}

.App-content {
	max-width: 1290px;
	width: 80%;
	margin: 0 auto;
	padding: 20px 40px;
	flex: 1;
	display: flex;
	flex-direction: column;
}
