@import "variables.scss";

.header {
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;

	@media screen and (max-width: 400px) {
		display: block;
		align-items: center;
		height: fit-content;
		justify-content: flex-start;
	}
}

.header-nav {
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	& > :first-child {
		padding-left: 0px;
	}

	@media screen and (max-width: 400px) {
		min-width: 160px;
		padding: 12px 16px;
		& > :first-child {
			margin-right: 15px;
		}
	}
}

.header-logo {
	color: var(--accent-color);
	text-decoration: none;
}

.nav-link {
	text-decoration: none;
	color: var(--accent-color);
	padding-right: 10px;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.selected {
	font-weight: bold;
}

.toggle-btn {
	position: relative;
	display: flex;
	margin: 5px;
	padding-right: 10px;
	background-color: transparent;
	color: var(--accent-color);
	border: none;
	outline: 0;
	cursor: pointer;
	&:hover{
		.dropdown-color-content {
			display: block;
		}
	}
}

.dropdown-color-content {
	display: none;
	position: absolute;
	width: fit-content;
	top: 20px;
	background-color: var(--background-color);
	z-index: 3;
	cursor: default;
	p {
		width: 160px;
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding: 5px;
		margin: 5px;
		&:hover,
		:focus {
			background-color: var(--accent-color);
			color: white;
		}
		input[type="color"]{
			height: 20px;
			width: 20px;
			display: flex;
			align-self: end;
			padding: 0;
			margin: 0;
			border: 0;
			background-color: transparent;
			cursor: pointer;
		}
	}

	
}
