@import "variables.scss";

.input-dropdown-container {
	position: relative;
	display: inline-block;
	margin: 2px;
	width: 100%;
	.dropdown-content {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
		background-color: var(--background-color);
		z-index: 1;
		cursor: pointer;

		p {
			list-style: none;
			padding: 5px;
			margin: 5px;
			&:hover,
			:focus {
				background-color: var(--accent-color);
				color: white;
			}
		}
	}
	input {
		padding: 5px 20px;
		margin-right: 2px;
		outline: none;
		padding-left: 4px;
		font-size: $medium-font;
		border: 1px solid #ddd;

		&:focus {
			border: 1px solid var(--accent-color);
			& ~ div {
				display: block;
			}
		}

		@media screen and (max-width: 358px) {
			font-size: $small-font;
		}
	}
	&:hover {
		.dropdown-content {
			display: block;
		}
	}
}
