@import "variables.scss";

.search-result {
	padding: 5px 10px;
	width: 100%;
	display: flex;
	background-color: var(--secondary-color);
	color: white;
	border: 1px solid #ddd;
	cursor: pointer;
	align-items: center;
	justify-content: space-between;
	// flex-wrap: wrap;
	&:hover {
		color: var(--secondary-color);
		background-color: white;
		button {
			background-color: var(--secondary-color);
			color: white;
		}
	}
	button {
		// margin: 20px;
		padding: 10px 15px;
		text-align: center;
		border: none;
		color: var(--secondary-color);
		background-color: white;
		transition: transform 0.2s;
		cursor: pointer;
		&:hover {
			transform: scale(1.25);
		}
	}
	& > td {
		width: 110px;
        word-wrap: break-word;
        
        &>label{
            display: none;
        }
    }

	@media screen and (max-width: 1100px) {
        display: none;
        // flex-direction: column;
        // width: fit-content;

        &>:first-child{
            font-size: large;
        }
		& > td {
            display: flex;
            width: 100%;
            justify-content: flex-start;
		}
	}
}

.search-result-card{
    display: none;
    padding: 5px 10px;
	width: 100%;
	background-color: var(--secondary-color);
	color: white;
	border: 1px solid #ddd;
	cursor: pointer;
	align-items: center;
    justify-content: space-between;
    
    .strong{
        font-weight: 700;
    }

    button {
        // margin: 20px;
        width: 100%;
		padding: 10px 15px;
		text-align: center;
		border: none;
		color: var(--secondary-color);
		background-color: white;
		transition: transform 0.2s;
		cursor: pointer;
		&:hover {
			transform: scale(1.25);
		}
	}
    @media screen and (max-width:1100px){
        display: flex;
        flex-direction: column;
        width: fit-content;
        border-radius: 5px;
        margin:3px;
        & > td {
            display: flex;
            width: 100%;
            &>label{
                display: inline;
                margin-right: 5px;
            }
        }
        
        &>button{
            width:100%;
        }
    }

   
}
